---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- 연도별로 그룹핑 -->
{% assign papers_by_year = site.publications | group_by: "year" | sort: "name" | reverse %}

{% for year_group in papers_by_year %}
  <h2>{{ year_group.name }}</h2>
  <hr />
  {% for paper in year_group.items %}
    {% for paper in year_group.items %}
      {% assign post = paper %}   
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% endfor %}